.contenue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f2f2f;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}