.liste-carte {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    gap: 0.7em;
    width: auto;
    justify-content: center;
}



h5 {
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
}
@media (max-width: 768px) {
    
    .liste-carte {
        align-items: center;
        gap: 0.5em;
        justify-content: center;
    }
}