.contact-container {
    position: relative;
    display: inline-block;
    gap: 10%;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--current-border);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 90px;
    text-align: center;
    background: var(--current-alt-bg);
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .contact:hover {
    transform: translateY(-0.6em);
  }
  
  .nom {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--current-text);
  }
  
  .image {
    max-width: 100%;
    max-height: 80%;
    margin-bottom: auto;
  }
  
  @media (max-width: 768px) {
    .nom {
      font-size: 0.7em;
    }

    .contact {
      width: 60px;
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .nom {
      font-size: 0.6em;
    }

    .contact {
      width: 50px;
      height: 70px;
    }
  }