.liste-chronologie {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0;
    padding-left: 2rem;
    border-left: 5px solid var(--primary-color);
    gap: 2rem;
  }
  
