<div class="competences">
  <h2>Mes Compétences</h2>
  <app-list-competences [competences]="languages" titre="Languages"></app-list-competences>
  <app-list-competences [competences]="frameworks" titre="Frameworks"></app-list-competences>
  <app-list-competences [competences]="technologies" titre="Technologies"></app-list-competences>
  <app-list-competences [competences]="ide" titre="IDE"></app-list-competences>
  <app-list-competences [competences]="os" titre="OS"></app-list-competences>
</div>