.carte-container {
    position: relative;
    display: inline-block;
    margin: 5%;
  }
  
  .carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 90px;
    text-align: center;
    background: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .carte:hover {
    transform: scale(1.05);
  }
  
  .nom {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    color: whitesmoke;
  }
  
  .image {
    max-width: 70%;
    max-height: 70%;
    border-radius: 25%;
  }
  
  .description-box {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: auto;
    background: #444;
    color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .description {
    font-size: 0.7em;
    margin: 0;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .carte {
      width: 60px;
      height: 80px;
    }
    .description-box {
      font-size: 0.7em;
      padding: 6px;
    }
  }
  
  @media (max-width: 480px) {
    .carte {
      width: 50px;
      height: 70px;
    }
    .description-box {
      font-size: 0.6em;
      padding: 5px;
    }
  }