.not-found-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 2em;
    color: var(--current-text);
  }
  
  p {
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  a {
    font-size: 1.2em;
    color: var(--current-text);
    text-decoration: none;
    border: 1px solid var(--current-border);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--current-bg);
  }
  
  a:hover {
    background-color: var(--current-alt-bg);
  }
  