@if (projet) {
    <div class="projet-carte">
        <h3>{{ projet.nom }}</h3>

        @for (i of projet.description.keys(); track i) {
            <div class="description">
                <p>{{ projet.description[i] }}</p>
            </div>

            @if (projet.image[i]) {
                <img [src]="projet.image[i]" class="image" alt="Image {{ i + 1 }}">
            } @else {
                <p class="image">Aucune image disponible</p>
            }
        }

        @if (projet.technologie.length) {
            <app-list-competences 
              [competences]="projet.technologie" 
              titre="Technologies utilisées durant ce projet" 
              class="technologies">
            </app-list-competences>
        } @else {
            <p class="technologies">Aucune technologie utilisée </p>
        }
    </div>
} @else {
    <p>Chargement du projet en cours ou projet introuvable.</p>
}
