body {
    background-color: var(--current-bg);
    color: var(--current-text);
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    min-height: 65%;
}

html, body {
    min-height: 65%;
    width: 100%;
    margin: 0;
}

body.light-theme {
    --current-bg: var(--background-light);
    --current-alt-bg: var(--alternative-background-light);
    --current-text: var(--text-light);
    --invert-text: var(--text-dark);
    --current-border: var(--border-light);
  }
  
  body.dark-theme {
    --current-bg: var(--background-dark);
    --current-alt-bg: var(--alternative-background-dark);
    --current-text: var(--text-dark);
    --invert-text: var(--text-light);
    --current-border: var(--border-dark);
  }

:root {
    /* Couleurs principales */
    --primary-color: #3f51b5;    /* Violet/bleu */
    --secondary-color: #ff4081;   /* Rose */
    --background-dark: #1a1a1a;     /* Fond sombre */
    --alternative-background-dark: rgba(255, 255, 255, 0.1);    
    --background-light: #f5f5f5;  /* Fond clair */
    --alternative-background-light: #e8e8e8;
    --border-dark: white; /* Bordure sombre */
    --border-light: black; /* Bordure claire */
    --text-dark: #e0e0e0;           /* Texte foncé */
    --text-light: #333;
}  

