.theme-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: auto;
  }
  
  .theme-toggle img {
    padding: auto;
    margin: auto;
    width: 2.5em;
    transition: transform 0.5s;
  }
  
  .theme-toggle:hover img {
    transform: scale(1.2);
  }